{% load staticfiles %}
{% load widget_tweaks %}
{% load compress %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

    <!-- Facebook OG tags "OG": http://ogp.me/-->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content=" "/> <!-- Name of Site-->
    <meta property="fb:app_id" content=" "/> <!-- Facebook App ID-->

    <link href=" " rel="publisher">  <!-- Google Plus URL-->

    <!-- Twitter Tags:  https://dev.twitter.com/cards/markup -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content=" "> <!-- Twitter Page of Website -->
    <meta name="twitter:creator" content="@anthonyjgrove">

    <!--Meta Titles -->   
    <title>   </title>
    <meta itemprop="name" content=" "/>
    <meta property="og:title" content=" "/>
    <meta name="twitter:title" content=" "/>
 
    <!-- Meta  Descriptions -->   
    <meta itemprop="description" content="    "/>
    <meta name="description" content="  "/>
    <meta property="og:description" content=" "/>

    <!-- Meta Images -->   

    <meta itemprop="image" content="  "/>
    <meta property="og:image" content=" "/>
    <meta name="twitter:image:src" content=" "/>

    <!-- Meta URL -->   
    <meta property="og:url" content="  "/>
    <link rel="canonical" href=" "/>
    <!-- Site Stylesheets -->  
    {% compress css %}
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "css/jquery-ui.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/jquery-ui.structure.min.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "css/jquery-ui.theme.min.css" %}" type="text/css" rel="stylesheet"/>
    {% endcompress %}
    <!-- Materialize Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"/>
    
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-67296125-1', 'auto');
      ga('send', 'pageview');
    </script>
      <!-- Hotjar Tracking Code for hikd -->
      <script>
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:72322,hjsv:5};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      </script>  

 
  </head>
  <body>
    <div class="wrapper">
    <!-- https://github.com/VodkaBears/ -->
    <div 
      id="bg-vid"
      data-vide-bg="{% static "media/vids/large.mp4" %}" 
      data-vide-options="playbackRate: 1, posterType: 'png', autoplay: true, loop: true, muted: true, position: '0% 0%', resizing: true"
    </div>

    <div class="container">
      <div class=" cta-box  absolute-center valign-wrapper white-text">
        <div class="container">
          <h4 class="center-align title-text bold"> SUBSCRIBED </h4>
          <p class="center-align">  LAUNCHING EARLY 2016 </p>
          <p class="center-align bold"> <a href="http://instagram.com/yoloify" target="_blank">  Follow on Hikd Instagram </a></p>

        </div>
      </div>
    </div>
    </div>
  </body>
  <footer >
    <div class="footer-copyright row">
      <div class="col s12 m6"></div>
      <div class="col s12 m6"><span class="white-text vid-credit"> <a href="https://vimeo.com/pavelboxan" targe="_blank">VIDEO BY Pavel Boxan</a></span></div>
    </div>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  {% compress js %}
  <script type="text/javascript" src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/vendor/jquery.vide.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/vendor/jquery.ba-resize.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/main.js" %}"></script>
  {% endcompress %}
  <!-- Materialize JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</html>